.mySwiper img:hover {
    transform: scale(1.1) !important;
}


.gallery-mdq-header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.gallery-mdq-header {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.gallery-mdq-header p {
    font-family: var(--poppins);
    font-size: 1.2rem;
    color: var(--secondary-1)
}

.gallery-mdq-header a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}