p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.contact-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info {
    width: 45%;
}

.contact-info-body {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}

.contact-info-body-title1 {
    align-self: flex-start;
}

.contact-info-body-title2 {
    align-self: flex-end;
}

.contact-info-body-socialmedia {
    align-self: flex-end;
}

.contact-info-body p {
    font-family: var(--indieFlower);
    font-size: 1.2rem;
}

.contact-form {
    position: relative;
    /* Add this to make ::before position correctly */
    width: 50%;
    /* background-color: var(--eucalyptus); */
    /* background: linear-gradient(135deg, rgba(86, 34, 139, .7), rgba(204, 0, 116, .7)); */
    background-color: var(--contrast-2);
    padding: 1rem;
    border-radius: 10px;
    z-index: 1;
    /* Add this to ensure the form is above the ::before element */
}

.contact-form::before {
    /* content: "";
    position: absolute;
    left: 0; */
    /* Stretch the ::before element horizontally */
    /* right: 0; */
    /* background: linear-gradient(90deg, rgba(86, 34, 139, .7) 10.67%, rgba(204, 0, 116, .7) 95.35%); */
    /* background-color: var(--contrast-2); */
    /* filter: blur(32px); */
    /* height: 10%;
    bottom: -20px; */
    /* Adjust the position based on your preference */
    /* z-index: -1; */
    /* Set a lower z-index to place it behind the form */
}

.form-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-item input {
    width: 100%;
    margin-bottom: 2rem;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    font-family: var(--indieFlower);
    font-size: 1.2rem;
}

.form-item input:focus {
    background-color: var(--gray-nurse);
}


.form-item textarea {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    font-family: var(--indieFlower);
    font-size: 1.2rem;
}

.form-item textarea:focus {
    background-color: var(--gray-nurse);
}


@media screen and (max-width: 1050px) {}

@media screen and (max-width: 700px) {
    .main-container {
        width: 95% !important;
    }

    .contact-info {
        width: 100%;
    }

    .contact-info-body {
        align-items: center;
    }

    .contact-info-body-title1 {

        width: 100%;
        display: flex;
        justify-content: center;

    }
    
    .contact-info-body-title2 {

        width: 100%;
        display: flex;
        justify-content: center;

    }
    
    .contact-info-body-socialmedia {

        width: 100%;
        display: flex;
        justify-content: center;
    }


    .contact-form {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .main-container {
        width: 95% !important;
    }

    .contact-info {
        width: 100%;
    }

    .contact-info-body {
        align-items: center;
    }

    .contact-info-body-title1 {

        width: 100%;
        display: flex;
        justify-content: center;

    }
    
    .contact-info-body-title2 {

        width: 100%;
        display: flex;
        justify-content: center;

    }
    
    .contact-info-body-socialmedia {

        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contact-form {
        width: 100%;
    }
}