.hero-container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
}


.hero-content-container {
    width: 50%;
    display: flex;
    background-color: #f7fafd;
    margin: 2rem 0;
    overflow: hidden;
}

.hero-content-container p {
    border-left: 2px solid black;
}

.hero-content-inner-container{


    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    animation-name: divSlideUp;
    animation-duration: 0.8s;
}


.hero-image-container {
    width: 50%;
    height: 100%;
    /* transform: perspective(1000px); */
}

.hero-image-inner-container{
    height: 100%;
    width: 100%;
    opacity: 1;
    animation-name: zoomHeroImage;
    animation-duration: 0.8s;
}




@keyframes zoomHeroImage {
    from {
        opacity: 0;
        transform: translateX(50px) translateY(-50px) scale(0.5);
    }

    to {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes divSlideUp {
    from {
        opacity: 0;
        transform: translateX(0) translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}


/* translateZ(200px) perspective(200px)
translateZ(50px) perspective(200px) */